.table-row {
  display: flex;
  list-style-type: none;
  border-left: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
}

.table-cell {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.name-column {
  width: 15%;
}

.mobile-no-column {
  flex-grow: 1;
}

.mobile-no-value {
  flex-grow: 1;
}

.favorite-icon-container {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.favorite-button {
  background: transparent;
  margin-right: 24px;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete {
  height: 18px;
}

.delete-button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
}

.edit-button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  color: #1e293b;
}
.delete:hover {
  height: 22px;
}
