* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
}

.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.responsive-container {
  width: 80%;
  max-width: 1140px;
}
.main-heading {
  color: #110e2b;
  font-family: 'bree serif';
  font-size: 32px;
  font-weight: 500;
  margin-top: 96px;
  margin-bottom: 32px;
  text-align: center;
}
.details-container {
  display: flex;
}

.heading {
  color: #1e293b;
  font-family: 'bree serif';
  font-size: 32px;
  font-weight: 500;
  margin-top: 96px;
  margin-bottom: 32px;
}

.contact-form-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .contact-form-container {
    flex-direction: column;
    align-items: center;
  }
}

.input {
  color: #475569;
  font-family: 'Roboto';
  border: 2px solid #0d0e0f;
  border-radius: 2px;
  width: 35%;
  height: 34px;
  padding-left: 0px;
  margin-right: 15px;
  outline: none;
  margin-bottom: 0px;
  flex-grow: 1;
  width: 200px;
}

@media screen and (max-width: 575px) {
  .input {
    width: 280px;
  }
}

.label {
  color: #1e293b;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 500;
}

.pop-up-btn {
  background-color: #334155;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  color: #fff;
}
.contacts-table {
  padding-left: 0;
  margin-top: 48px;
}

.table-header {
  display: flex;
  background-color: #4aa0f5;
  list-style-type: none;
  border: 1px solid #cbd5e1;
}

.table-header-cell {
  color: #f5f5f5;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 32px;
}

.name-column {
  width: 15%;
  border-right: none;
}

.separator {
  margin: 0;
  border: 1px solid #cbd5e1;
}
.button {
  align-self: flex-start;
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

@media screen and (max-width: 575px) {
  .button {
    width: 200px;
  }
}
.error {
  margin: none;
  color: red;
  font-size: 14px;
  height: 16px;
  padding: 0px;
}
/* .pop-up {
  width: 100px;
  background-color: #0d0e0f;
} */
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 30%;
  padding: 5px;
}
.submit-button {
  font-family: 'Roboto';
  font-size: 12px;
  color: #ffffff;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #ea580c;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 768px) {
  .submit-button {
    width: 100%;
  }
}
.submitAnother-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
